/* MadBomber Midnight Theme */

body {
    background-color: #000000;
    color: #ffffff;
}

.table {
    color: #cccccc;
}

.table thead th,
.table tbody td,
.table tbody th {
    border-color: #888888;
}

.table tbody tr th {
    border-right: 1px solid #444444;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #111111;
    color: #ffffff;
}

.bg-dark {
    background-color: #1f1f1f !important;
}

mark {
    background-color: #0a1653;
    color: #ffffff;
    border-radius: 8px;
    padding: 4px;
}

.card-header {
    background-color: #1f1f1f;
}

.card {
    border-color: #777777;
    background-color: #000000;
}

.list-group-item,
.card-body {
    background-color: #000000;
    border-color: #555555;
}

/* General Stuff */

.mbf-mapimg {
    width: 100%;
}

@media only screen and (max-device-width: 480px) {
    .mbf-mapimg {
        width: 100%;
        height: 100%;
    }
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.madbomber-logo {
    filter: drop-shadow(0.4em 0.15em 0.3em #000000);
    image-rendering: pixelated;
}

.uuid-section {
    text-align: right;
    margin: 0px;
}

.repo-title {
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .uuid-section {
        text-align: center;
    }

    .uuid {
        margin-bottom: 0.25em;
    }

    .repo-title {
        text-align: center;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        padding-bottom: 0.45em;
    }
}